body{
    background-color: rgb(86, 125, 148);
}

h1{
    background-color: rgb(171, 181, 201);
    color:rgb(0, 0, 0);
    text-align: center; 
}

h2{
    background-color: rgb(171, 181, 201);
    color:rgb(0, 0, 0);
}