 #ola {
    background-color: red;
    height: 100px;
    width: 1500px ;
 }

 #duda {
    background-color: yellow;
    height: 100px;
    width: 1500px ;
 }

 #tudo {
    background-color:black ;
    height: 100px;
    width: 1500px ;
}

#bem {
    background-color:green;
    height: 100px;
    width: 1500px ;
}