h1 {
    background-color: rgb(184, 253, 190);
}

p{
    background-color: #b4d9ee;
}

h2 {
    background-color: rgba(196, 173, 226, 0.712);
}

#p2{
    background-color: #ebc488;
}

